<div class="container flex flex-col items-center justify-center h-screen rounded-lg border border-gray-300 p-4 shadow-md">
    <div class="w-4/5 max-w-[600px] bg-[#ffffff] rounded-lg p-4 shadow-md border border-gray-300">
      <!-- Cards de opciones -->
      <div class="grid grid-cols-2 gap-4 mb-4">
        <div class="p-4 bg-[#f8f9fa] rounded-lg shadow-sm text-center cursor-pointer hover:bg-[#e1e1e1] transition-colors border border-gray-300">
          Lenguajes
        </div>
        <div class="p-4 bg-[#f8f9fa] rounded-lg shadow-sm text-center cursor-pointer hover:bg-[#e1e1e1] transition-colors border border-gray-300">
          1° de preescolar
        </div>
        <div class="p-4 bg-[#f8f9fa] rounded-lg shadow-sm text-center cursor-pointer hover:bg-[#e1e1e1] transition-colors border border-gray-300">
          Reconocimiento y aprecio de la diversidad lingüística
        </div>
        <div class="p-4 bg-[#f8f9fa] rounded-lg shadow-sm text-center cursor-pointer hover:bg-[#e1e1e1] transition-colors border border-gray-300">
          Reconoce que hay personas que se comunican en lenguas distintas a la propia
        </div>
      </div>
      <!-- Input -->
      <input type="text" placeholder="Hazme cualquier pregunta..." class="w-full px-4 py-3 text-base bg-[#f1f1f1] text-[#333333] border border-[#e1e1e1] rounded-lg" />
      <div class="flex justify-between mt-3">
        <button type="button" class="flex flex-col items-center bg-[#87CEEB] text-[#333333] border border-[#d1d1d1] rounded-lg p-2 cursor-pointer hover:bg-[#00BFFF] transition-colors shadow-md" (click)="generatePdf()">
          <i class="text-3xl mb-1 icon-document"></i>
          Generar documento
        </button>
        <button type="button" class="bg-blue-500 text-white px-4 py-2 rounded-lg cursor-pointer hover:bg-blue-700 transition-colors shadow-md">
          Enviar
        </button>
      </div>
    </div>
  </div>
  